.side-nav-container {
  /* ... */
  transition: left 0.3s ease-in-out; /* Apply easing to the side navigation */
}

.side-nav-container.visible {
  left: 0;
}

.side-nav-container.hidden {
  left: -350px; /* Set an appropriate negative value to hide the side nav */
}

.hamburger-menu {
    cursor: pointer;
    padding: 10px;
    background-color: #3d81eb;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 3px 0;
  background-color: #fff;
  transition: 0.4s;
}

.change.bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change.bar:nth-child(2) {
  opacity: 0;
}

.change.bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.toggle-button {
  cursor: pointer;
  padding: 10px;
  background-color: #3d81eb;
  color: #fff;
  text-align: center;
}



.user-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 8%;
  margin-top: 3rem;
  margin-left: 1rem;
  color: #f5f5f5;
  justify-content: space-evenly;
  width: 50%;
}
  
  .user-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
  }
  
  .side-nav-container {
    padding: 0;
    width: 400px;
    height: 100%;
    background-color: #4285F4;
    overflow: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0.98;
    position: fixed;
    z-index: 9999;

  }
  
  .container-link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
    transition: 1s;
    background-color: transparent;
  }
  
  .dropdown-button {
    background-color: transparent;
    box-shadow: none;
    border: none;
    text-align: start;
    color: #ffffff;
    padding-left: 10px;
  }
  
  .dropdown-content {

    transition: 1s;
    max-height: 0;
      background-color: #5991ee;
  
  }
  
  .container-link a {
    height: 50px;
    width: calc(100% - 32px);
    margin: 0;
    padding: 8px;
    position: relative;
    color: #ffffff;
    display: flex;
}
/* Sidenav.css */

/* ... your existing styles ... */

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

  .dropdown-content.show {
    max-height: 500px;
    width: -webkit-fill-available;
    padding-left: 2rem;

}



@keyframes slideDownAnimation {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slideUpAnimation {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  