.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 650px;
}


.form-component{
    display: flex;
}
.form-container{
    display: block;
    height: 100vh;
}
.form-section {
    display: flex;
    height: 500px;
    width: 100%;
    position: relative;
    justify-content: center;
    /* top: 100%; */
    align-items: center;
    margin: auto;
}
.form-section label{
    display: flex;
    flex-direction: column;
}
.form-section input{
   
        background: white;
        border: 1px solid #ddd;
        border-radius: 100px;
        padding: 20px;
        color: #505060;
        box-shadow: 0 3px 7px 0 rgba(0,0,0,.15);
        width: 100%;
        height: 0px;
    
}
.form-section {
    display: flex;
    height: 500px;
    width: 38%;
    position: relative;
    justify-content: center;
    /* top: 100%; */
    align-items: center;
    margin: auto;
    padding: 28px;
    background-color: #f5f5f5;
    border-radius: 20px;
    flex-direction: column;

}
.table-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    justify-content: center;
    margin-right: 24vw;
    /* margin-left: 230px; */
    /* position: relative; */
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  } 
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* pop up code css  */
  
  .pop-up-create-form {
    display: block;
    margin: auto;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 20%;
    background-color: lightgray;
    padding: 200p;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  