.form-component{
    display: flex;
}
.form-container{
    display: block;
    height: 100vh;
}
.form-section {
    display: flex;
    height: 500px;
    width: 100%;
    position: relative;
    justify-content: center;
    /* top: 100%; */
    align-items: center;
    margin: auto;
}
.form-section label{
    display: flex;
    flex-direction: column;
}
.form-section input{
   
        background: white;
        border: 1px solid #ddd;
        border-radius: 100px;
        padding: 20px;
        color: #505060;
        box-shadow: 0 3px 7px 0 rgba(0,0,0,.15);
        width: 100%;
        height: 0px;
    
}
.form-section {
    display: flex;
    height: 500px;
    width: 38%;
    position: relative;
    justify-content: center;
    /* top: 100%; */
    align-items: center;
    margin: auto;
    padding: 28px;
    background-color: #f5f5f5;
    border-radius: 20px;
    flex-direction: column;

}
.form-section-ctr {
    display: flex;
    position: absolute;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


