.header-dash {
    display: block;
    width: -webkit-fill-available;
    height: 65px;
    background-color: #f5f5f5;
    padding: 1em 6em;
    box-shadow: rgba(0, 0, 0, 0) 1.95px 0.95px 5.6px;
    position: absolute;
    /* width: 100vw; */
}
.search-bar {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.search-bar input {
        height: 0;
        width: 180px;
        
    
}
.search-bar input {
    height: 20px;
    width: 180px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}
.search-input {
 
 
    background-image: url('../../assets/icons/search.svg'); /* Updated path */
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95% center;
    
}
