.container-1{

        height: 50%;
        display: flex;
        width: 50%;
        background-color: #ffffff;
        margin-top: 15%;

}
#creden-con{
     border-right: solid 1px lightgray;
}
.login-container {

        width: 100%;
        position: relative;
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding: 100Px;
    
    
}

.container-input{
   
        display: block;
        width: 100%;
    
}
.container-input p{
 
        text-align: left;
    

}
.container-input input{
            width: 100%;
            border-radius: 10px;
            height: 35px;
            background-color: #e9e9e9ed;
            border:0;
        
    
}
.login-button{
        margin-top: 25px;
        border: none;
        height: 35px;
        border-radius: 8px;
        background-color: rgba(59, 59, 252, 0.956);
        color: #ffffff;
}